
.feature-thumbnail {
    img {
        width: 40px;
        height: 40px;
    }
}

.post.post-image {
    background: #fff;
    width: calc(100% / 2 - 20px);
    height: auto;
    margin: 0 20px 40px 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.42857143;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    .post-thumbnail {
        width: 350px;
        height: 250px;
        img {
            width: 400px;
            height: 200px;
        }
    }
    .post-category {
        font-size: 15px;
        text-transform: uppercase;
        margin: 10px 0 5px 0;
        color: #1e74ad;
    }
    .post-title {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        font-weight: 500;
        a {
            color: #111;
        }
    }
    .post-date {
        color: #777;
        margin: 5px 0;
    }
    .overlay {
        display: block;
        position: absolute;
        top: 250px;
        left: 0;
        margin-left: 15px;
        width: 350px;
        height: 250px;
        background: $black;
        opacity: 0.7;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
        a {
            color: $white;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
    &:hover .overlay {
        display: block;
        top: 0;
    }
}

.post-row {
    background: #fff;
    margin-bottom: 30px;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    .post-image {
        padding-left: 0;
    }
    .post-title {
        padding-top: 10px;
    }
}

.post-single {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-right: 1px solid $border-color;
    .post-detail {
        background: #fff;
        padding: 10px;
        .post-title {
            color: #2199E8;
        }
    }
}