$footer-bg: #26272B;
$footer-primary-color: #fff;
$footer-secondary-color: #a2abb7;

$footer-bottom-bg: $footer-bg;
$footer-bottom-color: #a2abb7;

$icon-bg: #C8C8C8;
$link-bg: #C8C8C8;
.footer {
    
}