$topbar-bg: #126ca7;
$topbar-color: #ffffff;
$header-menu-bg: #0f5889;
$header-menu-color: #ffffff;
$header-menu-hover-color: #2199E8;

header {
  padding: 0;
  @media only screen and (min-width: $md-screen) {
    width: 100%;
  }
  ul {
    background: none;
    a {
      color: $topbar-color;
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .topbar {
    background: $topbar-bg;
    //border-bottom: 1px solid #eee;
    padding-top: 10px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    .menu {
      padding-left: 0;
      margin-left: -5px;
      list-style: none;
      margin-bottom: 10px;
      li {
        padding-left: 11px;
        padding-right: 15px;
        border-right: solid 1px #d8d8d8;
        a {
          font-family: "Open Sans", sans-serif;
          font-size: 13px;
          line-height: 16px;
          color: $topbar-color;
          padding: 0;
        }
      }
    }
  }
  .bottom {
    background: $header-menu-bg;
    padding: 0;
    box-shadow: 0 1px 3px #ddd;
    .top-bar-right {
        width: 350px;
    }
    #logo {
      height: 50px;
      padding-left: 10px;
    }
    .menu {
      li {
        a {
          font-size: 1.2rem;
          text-transform: uppercase;
          color: $header-menu-color;
          font: 19px "Open Sans", sans-serif;
          letter-spacing: 1px;
          margin: 0;
          padding: 34px 12px 32px;
          &:hover {
            background: #fcfcfc;
            color: $header-menu-hover-color;
          }
        }
      }
    }
    .search {
      float: right;
      width: 100%;
      margin-top: 25px;
      position: relative;
      font: 400 13px 'Open Sans', Arial, sans-serif;
      @media (max-width: $large-mobile) {
        float: none;
        margin: 10px 0 10px 10px;
      }
      #searchform {
        input {
          background: #fff;
          border: 1px solid #F0F0E9;
          margin-right: 5px;
          box-shadow: none;
          &:focus {
            box-shadow: none;
          }
        }
        .search-submit {
          margin: 0;
          width: 100%;
        }
      }
      .columns {
        padding: 0;
      }
    }
  }
}